body{
	text-align:left;
}

.body{
	margin:0 auto;
	width:50%;
	clear:both;

}

.mainheader nav{
	background-color:#666;
	height:45px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainheader nav ul li{
	float:left;
	display:inline;
}

.mainheader nav a:link, .mainheader nav a:visited{
	color:#FFF;
	display:inline-block;
	padding:10px 25px;【导航按钮的水平、垂直方向上的扩展区域大小】
}